* {
    background-color: burlywood;
    text-align: center;
}
li {
    list-style-type: none;
    margin-top: 10px;
    margin-right: 30px;
}
h1{
    color: crimson;
}


div {
    margin-top: 60px;
}

form button{
    background-color: blue;
    margin-left: 5px;
}
.completed {
    margin: 5px;
    background-color:green;
    color: white;  
}

.delete {
    background-color: red;
      color: white;  
}

.edit {
    background-color: rgb(168, 168, 27);
    color: white;
    margin-left: 5px;
}